.board{
  position: sticky;
  top: 1em;
  width: 70vw;
  height: 70vw;
  min-width: 200px;
  min-height: 200px;
  max-width: 600px;
  max-height: 600px;
  overflow: hidden;
  border: 12px solid #f8efd7;
  border-radius: 12px;
}

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.child-element{
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  font-weight: bold;
}

.cursor-pointer{
  cursor: pointer;
}

.my-hover{
  background-color:rgb(255, 180, 83);
}

.my-center{
  display: flex;
  justify-content: center;
}

button{
  margin-top: 15px;
}

h1{
  font-size: 4em;
}

.winning-background{
  background-color:rgb(51, 255, 0);
}
