.grid-container {
  margin-top: 15px;
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 150px);
}

.child-element {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

.cursor-pointer{
  cursor: pointer;
}

.my-hover{
  background-color:rgb(255, 180, 83);
}

.my-center{
  display: flex;
  justify-content: center;
}

button{
  margin-top: 15px;
}

h1{
  font-size: 4em;
}
